.background-container{
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    width:100vw;
    
}
.main-auth-container{
    width: 550px;
    height: 400px;
    background:lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.auth-container-inputs{
    display: flex;
    flex-direction: column;

}
/* .main-auth-container input {
    border:none;
    border-bottom: solid white 1px;
} */